# ignoring all text files
*.txt

# ignoring all docs files
docs/

# ignoring all data directory content
data*/

# ignoring node_modules directory
layout/node_modules/

# ignoring plugins directory
layout/plugins/

# ignoring sql directory
sql/

# ignoring local configration file
etc/local-conf.php
etc/server-conf.php

# ignoring Database class
Database.class.php

# ignoring pay file
pay.php

# ignore libraries
includes/libraries/

# ignore sql updates
*sql*

# ignore any test file
*test*

# ignoring vendor directory
vendor/

# ignoring uploads file
upload.php